{% extends 'base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{# body #}
{% block content %}
    <div class="login">
        {% for message in messages %}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">x</a>{{ message }}
        </div>
        {% endfor %}
        <h1>로그인</h1>
        <form action="{% url 'user:login' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="로그인"/>
        </form>

    </div>
    <a href="{% url 'user:join' %}" class="btn btn-info" role="button">회원가입</a>
{% endblock %}

{# footer  #}
{% block footer %}

{% endblock %}

{% block extra-script %}

{% endblock %}